/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts, gutters and gaps */
:root {
    /* Color Schemes */
    --clr-primary: hsl(180, 41%, 93%);
    --clr-neo-shadow: hsla(205, 32%, 48%, 0.3);
    --clr-neo-light: hsla(30, 100%, 97%, 0.8);
    --clr-neo-accent: hsla(34, 100%, 59%, 0.9);
  
    --clr-contrast: hsl(180, 88%, 81%);
    --clr-grey: #808080;
    --clr-light-grey: #D2D2D2;
    --clr-white: hsla(30, 100%, 98%, 0.9);

    /* FONT */
    --fontfamily-default: 'Roboto', Helvetica, Arial, sans-serif;
    --fontweight-default: 400;
    --fontsize-default: 1rem;

    /* Spacing */
    --flow-spacing: 1em;

    /* --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --xxl-breakpoint: 1400px; */
}