/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    columns: var(--clr-dark-grey);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
.flow > * + * {
    margin-top: var(--flow-spacing);
}

.ms_profile-picture.col {
    max-width: 75px;
}


/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
.ms_messaging-section {
    min-height: 100%;
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */

.ms_messages-content {
    height: 100%;
    background-image: url('../assets/img/mine.jpg');
}
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* @media only screen and (max-width: 1000px) {

} */
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */